{% extends "base.html" %}

{% block content %}

<div class="col">
    <h2>Add a network handicap template</h2>
    <form method="POST" novalidate class="needs-validation">
        {{form.hidden_tag()}}

        {{form.nw_handicap_name.label(class="form-label")}}<br>
        <div class="input-group has-validation">
            {{form.nw_handicap_name(class="form-control", required="required")}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please choose a name for the network handicap.</div>
        </div><br>



        {{form.bandwidth_restriction_upload.label(class="form-label")}}<br>
        <div class="input-group has-validation">
            {{form.bandwidth_restriction_upload(class="form-control", type="number", min=0)}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER</div>
        </div><br>

        {{form.bandwidth_restriction_download.label(class="form-label")}}<br>
        <div class="input-group has-validation">
            {{form.bandwidth_restriction_download(class="form-control", type="number", min=0)}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER</div>
        </div><br>

        {{form.dns_latency.label(class="form-label")}}<br>
        <div class="input-group has-validation">
            {{form.dns_latency(class="form-control", type="number", min=0)}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER</div>
        </div><br>

        {{form.general_latency.label(class="form-label")}}<br>
        <div class="input-group has-validation">
            {{form.general_latency(class="form-control", type="number", min=0)}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER</div>
        </div><br>

        {{form.packet_loss.label(class="form-label")}}<br>
        <div class="input-group has-validation">
            {{form.packet_loss(class="form-control", type="number", min=0, max=100, value=0)}}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Stop QA'ing and enter a NUMBER</div>
        </div><br>



        {{form.submit(class="btn btn-outline-primary")}}
    </form>
</div>

<script>

    // JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>

{% endblock content %}