{% extends "base.html" %}

{% block content %}


<div class="card">
    <div class="card-body">
        {% if nw_handicaps %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Handicap Name</th>
                    <th scope="col">Bandwidth restriction (max upload, max download)</th>
                    <th scope="col">DNS Latency</th>
                    <th scope="col">General Latency</th>
                    <th scope="col">Packet Loss %</th>
                    <th scope="col">Number of PCs</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for nw_handicap in nw_handicaps %}
                <tr>

                    {# if handicap_to_update.handicap_name is not None #}
                    <th scope="row">{{loop.index}}</th>
                    <td>{{nw_handicap.handicap_name}}</td>
                    <td>{{nw_handicap.bandwidth_restriction_upload ~ ' MB, ' if nw_handicap.bandwidth_restriction_upload
                        is not none else '--,'}} {{nw_handicap.bandwidth_restriction_download ~ ' MB, ' if
                        nw_handicap.bandwidth_restriction_download is not none else '--'}}
                    </td>
                    <td>{{nw_handicap.dns_latency if nw_handicap.dns_latency is not none else '--'}}</td>
                    <td>{{nw_handicap.general_latency if nw_handicap.general_latency is not none else '--'}}</td>
                    <td>{{nw_handicap.packet_loss if nw_handicap.packet_loss is not none else '--'}}</td>
                    <td>{{nw_handicap.no_of_pcs}}</td>
                    <td>
                        <div style="width: max-content;">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteTemplateConfirm{{nw_handicap.id}}">
                                Delete
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteTemplateConfirm{{nw_handicap.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                <b>{{nw_handicap.handicap_name}}?</b>
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you wanted to delete "{{nw_handicap.handicap_name}}?"
                                            {% if nw_handicap.no_of_pcs | int > 1 %} <u>This is going to affect
                                                {{nw_handicap.no_of_pcs}} devices</u>
                                            {% elif nw_handicap.no_of_pcs | int == 1 %}
                                            <u>This is going to affect {{nw_handicap.no_of_pcs}} device</u>
                                            {% else %}
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <a href="{{ url_for('nw_handi.delete', id=nw_handicap.id) }}" type="button"
                                                class="btn btn-danger">Delete, I fear no
                                                man</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-outline-warning"
                                href="{{ url_for('nw_handi.update', id=nw_handicap.id) }}">Edit</a>
                        </div>
                    </td>
                    {# old button without confirmation #}
                    {# <td><a href="{{ url_for('nw_handi.delete', id=nw_handicap.id) }}" type="button"
                            class="btn btn-outline-danger">delete</a><br></td> #}
                </tr>

                {% endfor%}

            </tbody>
        </table>
        {% else %}
        <h2>No Network Handicaps added yet</h2>
        {% endif %}
    </div>
</div>

{% endblock content %}