{% extends "base.html" %}

{% block content %}

{# Flash Messages #}
{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="card">
    <div class="card-body">
        {% if templates[1]['pc'] %}

        <form method="POST">

            <h2><em>List of configured PCs</em></h2><br>
            {% for _, template_items in templates.items() %}
            <div class="card-header">
                {# template name #}
                <h2 style="display: inline-block" data-bs-container="body" data-bs-trigger="hover"
                    data-bs-toggle="popover" data-bs-placement="top" data-bs-html="true"
                    data-bs-content="<b>Bandwidth</b> Up: {{template_items['template'].bandwidth_restriction_upload}} / Down: {{template_items['template'].bandwidth_restriction_download}}">
                    {{template_items['template'].handicap_name}}</h2>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">PC Name</th>
                        <th scope="col">IP Address</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for template_item in template_items['pc'] %}
                    <tr>
                        {# {{loop.index}} is something like enumerate in python #}
                        <th scope="row">{{loop.index}}</th>
                        <td>{{template_item[0].pc_name}}</td>
                        <td>{{template_item[0].ip_address}}</td>
                        <td><a href="{{ url_for('ipaddresses.delete', id=template_item[0].id) }}" type="button"
                                class="btn btn-outline-danger">delete</a><br></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>
    <br><br>
    {% endfor %}
    {% else %} <h2>No PCs configured yet</h2>

    {% endif %}
</div>
</form>

{% endblock content %}