{% extends "base.html" %}
{% block content %}

{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<form method="POST">
    {{form.hidden_tag()}}

    {{form.pc_name.label(class="form-label")}}<br>
    {{form.pc_name(class="form-control")}}<br>

    {{form.ip_address.label(class="form-label")}}<br>
    {{form.ip_address(class="form-control")}}<br>

    {{form.network_handicap.label(class="form-label")}}
    {{form.network_handicap(class="btn btn-secondary dropdown-toggle")}}<br>

    {{form.submit(class="btn btn-primary")}}
</form>

{% endblock content %}